<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>
<div class="container">
  <div class="row justify-content-start">
    <form action="answer" data-turbo="false" class="input-group mb-3 col-4">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
</div>
